<div class="flex flex-col justify-center items-center">
    <div class="w-full max-w-xs">
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        (ngSubmit)="submitForm(formdata)"
        #formdata="ngForm"
      >
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Title
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            name="title"
            ngModel
            #titleInput="ngModel"
            required
          />
          <span
            class="text-xs text-red-500"
            *ngIf="!titleInput.valid && titleInput.touched"
            >please provide the title</span
          >
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Content
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            name="content"
            ngModel
            #contentInput="ngModel"
            required
          />
          <span
            class="text-xs text-red-500"
            *ngIf="!contentInput.valid && contentInput.touched"
            >please provide the content</span
          >
        </div>
        <div class="flex items-center justify-between">
          <button
            [disabled]="!formdata.valid"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 Brian Mulati. All rights reserved.
      </p>
    </div>
  </div>
  <div class="px-4 mt-4 grid grid-cols-3 gap-6">
  <app-post-item *ngFor="let post of allPosts" [post]="post" ></app-post-item>
  </div>
  